<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Building Services Engineering">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>PlayerOnline</title>
    <link rel= "stylesheet" type= "text/css" href= "../stylesheets/nicepage.css">
    <link rel= "stylesheet" type= "text/css" href= "../stylesheets/Page-14.css">
    <link rel= "stylesheet" type= "text/javascript" href= "../javascripts/jquery-1.9.1.min.js">
    <link rel= "stylesheet" type= "text/javascript" href= "../javascripts/nicepage.js">
    <meta name="generator" content="Nicepage 4.3.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Arvo:400,400i,700,700i">
    <meta name="theme-color" content="#bf795c">
    <meta property="og:title" content="index">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
    <section class="u-align-center u-clearfix u-palette-2-dark-1 u-section-1" id="carousel_061c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-14 u-border-white u-image u-image-circle u-image-1"  alt="" data-image-width="300" data-image-height="300"></div>
        <h1 class="u-text u-text-default u-text-1">PlayerOnline</h1>
        <p class="u-large-text u-text u-text-font u-text-variant u-text-2">Reproduce tu contenido de manera online de manera sencilla, Ingresa una url. O sube tus videos para reproducirlo.</p>
        <div class="u-form u-form-1">
          <form action="/playVideo" method="post" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" style="padding: 0px;" enctype="multipart/form-data">
            <div class="u-form-group u-form-name">
              <label for="name-2bf1" class="u-form-control-hidden u-label"></label> <!--URL-->
              <input type="text" name="texto" placeholder="Ingresar URL Online" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <input type="submit" class="u-border-none u-btn u-btn-submit u-button-style u-palette-3-base u-btn-1" value="Reproducir">
            </div>
          </form>
        </div>
        <p class="u-large-text u-text u-text-font u-text-variant u-text-3">Para cualquier apoyo economico hacerlo via paypal al siguiente correo electronico: txplayer4@gmail.com</p>
      </div>
    </section>
  </body>
</html>